
<% if !user_signed_in? %>
  <%= link_to "ログイン", new_user_session_path, class: "post" %>
  <%= link_to "新規登録", new_user_registration_path, class: "post" %>
<% end %>
<p>うんち日記</p>
<%= form_with(model: @human, url: humans_path, method: :create, local: true) do |f| %>

  <div class="title">
    <div class="form-tag">名前</div>
    <%= f.text_field :name %>
  </div>
  <div class="content">
    <div class="form-tag">種類</div>
    <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
<h4>＜ユーザー一覧＞</h4>
<% @humans.each do |human| %>
    <tr>
      <td><%= link_to human.name ,human_path(human.id) %></td>
    </tr>

<% end %>
