
<% if !user_signed_in? %>
  <%= link_to "ログイン", new_user_session_path, class: "post" %>
  <%= link_to "新規登録", new_user_registration_path, class: "post" %>
<% end %>
<div class="show_index">
  <br>
  <br>
  <%= form_with(model: @human, url: humans_path, method: :create, local: true) do |f| %>

    <div class="text_center">
      <div class="form-tag">名前</div>
      <%= f.text_field :name %>
     </div>
    <div class="text_center">
      <div class="form-tag">科・目</div>
      <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    <div class="text_center">
      <%= f.submit %>
    </div>
  <% end %>
  <br>
  <h1 class='text_center'>＜ユーザー一覧＞</h1>
  <br>
  <% @humans.each do |human| %>
      <p class= "text_center">
        <%= human.name %>
        <%= link_to human_path(human.id),class: "btn btn-border" do %>
          <span>記録する</span>
        <% end %>
      </p>
  <% end %>
</div>

