
<% if !user_signed_in? %>
  <%= link_to "ログイン", new_user_session_path, class: "post" %>
  <%= link_to "新規登録", new_user_registration_path, class: "post" %>
<% end %>
<p>ウンチ日記</p>
<%= form_with(model: @human, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">名前</div>
    <%= form.text_field :name %>
  </div>
  <div class="content">
    <div class="form-tag">種類</div>
    <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>