<p id="notice"><%= notice %></p>
<div class="show">


<p>
  <strong>名前</strong>
  <%= @human.name %>
</p>

<p>
  <strong>種類</strong>
  <%= @human.type.name %>
</p>


<%= link_to '編集', edit_human_path(@human.id) %>
<%= link_to '消去',"#", method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', root_path %>
</div>
  <% unless @poops.length == 0 %>
    <% time1 = Date.today %>
    <% time1 %>
    <% time2 = @poops.last %>
    <% time2 = time2.start_time %>
    <% time2 %>
    <% time3 = time1 - Date.parse(time2.to_s) %>
    <h1><%= time3.to_i %>日もうんちが出ていません</h1>
  <% end %>
<p>
<%= form_with model: @poop, url:human_poops_path(@human), method: :post, local: true do |f| %>
  <div class="article-box">
    記事を投稿する
    <p><%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"genre-select"}) %></p>
    <p><%= f.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"genre-select"}) %></p>
    <p><%= f.text_area :detail, class:"text", placeholder:"詳細" %></p>
    <p><%= f.datetime_select :start_time %></p>
  </div>
    <p><%= f.submit "投稿する" ,class:"btn" %></p>
  </div>
<% end %>
</p>
<%= link_to 'カレンダー', human_poops_path(@human) %>
