<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>名前</strong>
  <%= @human.name %>
</p>

<p>
  <strong>種類</strong>
  <%= @human.type.name %>
</p>


<%= link_to '編集', edit_human_path(@human.id) %>
<%= link_to '消去',"#", method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', root_path %>
</div>