<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>名前</strong>
  <%= @human.name %>
</p>

<p>
  <strong>種類</strong>
  <%= @human.type.name %>
</p>


<%= link_to '編集', edit_human_path(@human.id) %>
<%= link_to '消去',"#", method: :delete, data: { confirm: '本当に?' } %>
<%= link_to '戻る', root_path %>
</div>
<p>
<%= form_with model: @poop, url:human_poops_path(@human), method: :create, local: true do |f| %>
  <div class="article-box">
    記事を投稿する
    <%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.collection_select(:weight_id, Weight.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.text_area :detail, class:"text", placeholder:"詳細" %>
    <%= f.submit "投稿する" ,class:"btn" %>
  </div>
<% end %>
</p>
